<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
welcome <h1 th:text="${username}"></h1>

<table>
    <tr style="vertical-align: top;">
        <td>
            <ol>
                <li th:each="techArticle : ${techArticles}" >
                    <a th:href="${techArticle.value}" th:text="${techArticle.key}"></a>
                </li>
            </ol>
        </td>
        <td>
            <ol>
                <li th:each="topArticle : ${topArticles}" >
                    <a th:href="${topArticle.value}" th:text="${topArticle.key}"></a>
                </li>
            </ol>
        </td>
    </tr>
</table>





</body>
</html>