<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
welcome <h1 th:text="${username}"></h1>

<div  class="row">
    <ol th:each="page : ${linkLists}" class="col s6 card-panel white z-depth-5 black-text text-darken-2">
        <div class="container card-title">
            <h4 th:text="${page.titlePage}"></h4>
            <li th:each="techArticle : ${page.titleAndUrl}" >
                <a th:href="${techArticle.value}" th:text="${techArticle.key}"></a>
            </li>
        </div>
    </ol>
</div>
<div>
    <ul>
        <span th:each="email : ${emails}">
        <li th:text="${email}"></li>
        </span>
    </ul>
</div>
</body>
</html>