<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container">
    <form class="col s6 " th:action="@{/doLogin}" method="post">
        <div class="row card-panel teal lighten-2">
            <div th:if="${param.error}">Invalid username and password.</div>
                <div class="input-field offset-s4 col s4 offset-s4">
                    <label for="login">User Name:</label>
                    <input class="materialize-textarea" id="login" type="text" name="username" />
                </div>

            <div class="input-field offset-s4 col s4 offset-s4">
                <label for="password">Password:</label>
                <input class="materialize-textarea" id="password" type="password" name="password" />
            </div>

            <input class="input-field offset-s5 col s2 offset-s5 waves-effect waves-light btn" type="submit" value="Sign In" />
        </div>
    </form>



</body>
</html>